@font-face {
    font-family: satoshimedium;
    src: url(/Satoshi-Medium.otf);
  }

html {
    font-size: 20px;
    font-family: satoshi-medium;
}

body {
    margin: 0;
    min-height: 100vh;

    background-image: url("Echoes_Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5rem; 
    box-sizing: border-box;

    color: #294487;
}

section {
    
    text-align: center;
}

a {
    color: #294487;
}

a:hover {
    color: #f54118;
}

img {
    max-width: 20rem;
    height: auto;
    border-radius: 0.5rem;
}

