@font-face {
    font-family: satoshimedium;
    src: url(/Satoshi-Medium.otf);
  }

html {
    font-size: 20px;
    font-family: satoshi-medium;
}

body {
    background-image: url("Echoes_Background.png");
    background-size: cover;        /* fills the screen */
    background-position: center;   /* centers the image */
    background-repeat: no-repeat;  /* prevents tiling */
    height: 100vh;                 /* full viewport height */
    margin: 0;
    color: #294487;
    display: flex;
    margin-top: 6rem;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
}

section {
    
    text-align: center;
}

a {
    color: #294487;
}

a:hover {
    color: #f54118;
}

img {
    max-width: 20rem;
    height: auto;
    border-radius: 0.5rem;
}

